[2015-07-31 17:24] paruckerr opened #2 "Try to show component view before radiobuttons"
Hi,

I tried to show some component before RadioButtons being rendered, but my component set the marginTop like I already have a NavigatorIOS, you know how I can fix this?

[code]

Regards.

<img width="378" alt="captura de tela 2015-07-31 as 14 16 02" src="https://cloud.githubusercontent.com/assets/1139650/9012895/bf037926-378e-11e5-824e-0c657409ebce.png">

[2015-08-11 09:42] ArnaudRinquin commented on #2
This question belongs to [StackOverflow](http://stackoverflow.com/) more than in this library issues but I'll try to help.

Just move your margin styling from your component to the `View` that nests both RadioButtons and your `Event` component:

[code]

[2015-08-19 16:07] #2 closed

[2015-10-05 19:21] oney opened #3 "this.setState({}) not change SegmentedControls"
I face a bug.
[code]
When I press button to call `_press`, the selection of SegmentedControls is not changed. I am sure `this.setState({gender: 'Female'});` works correctly, `this.state.gender` is changed to right value.
Does it exist a bug? Thank you!

[2015-10-06 07:29] pedramsaleh opened #4 "Seems to only want RN 0.8.0. What about newer versions?"
It doesn't seem like I can upgrade past React Native 0.8.0 because of a dependency of this package for only that RN version.  Is there a reason it's stuck on that version?  Can you change the dependency to remove that restriction and let it accept newer versions of RN?

[2015-10-12 17:54] quantuminformation commented on #4
+1

[2015-10-14 19:22] ryanmcdermott commented on #4
+1

[2015-10-15 15:23] ArnaudRinquin commented on #4
Sorry guys I have been pretty busy lately. Working on it.

[2015-10-15 15:25] ArnaudRinquin commented on #3
Sorry about the answering delay. The bug you're facing comes from your code. You need to bind the function your are passing.

[code]

[2015-10-15 15:25] #3 closed

[2015-10-15 15:28] quantuminformation commented on #4
Thanks!

[2015-10-15 17:56] pedramsaleh commented on #4
+1

[2015-10-20 23:09] jeremiecarlson commented on #4
+1

[2015-11-11 20:46] manask88 commented on #4
ive been using this with react 13.2 and its working for me (ive used segmented controls only).  Can you please tell when do you expect this to be updated?

[2015-11-11 21:27] ArnaudRinquin commented on #4
I am so sorry I can't find the time to update this.

Technically, nothing but `package.json` needs to be updated, but I'd like to update the example as well.

PR are welcome, I don't think it's a lot of work really, but I am not sure I can afford spending some on this at the moment.

[2015-11-11 23:48] manask88 commented on #4
Hey @ArnaudRinquin , ive created a PR https://github.com/ArnaudRinquin/react-native-radio-buttons/pull/5. I bumped up RN version in package.json and also updated the example. Let me know what you think.

[2015-11-12 10:21] ArnaudRinquin commented on #4
#5 by @manask88 fixes this issue and I just published `0.6.0`.

Thanks again @manask88

[2015-11-12 10:21] #4 closed

[2015-11-19 22:55] GantMan opened #6 "Android?"
It's not clear from the Readme, but would this work on Android?  Your segmented control looks very iOSish, and I want to be sure.

[2015-11-30 11:33] ArnaudRinquin commented on #6
The base component should be Android ready but yeah, the _styled_ presets are iOS only for now.

I don't have the time to make it happen on Android. PR welcome

[2015-11-30 11:33] #6 closed

[2015-12-02 16:07] Kudo opened #7 "Propose flexible custom style from caller"
There is a bug https://github.com/facebook/react-native/issues/3233 for Android RN that set padding on Text will have unexpected result.
So my segmented control text did not vertically centered.

Currently SegmentedControls' design is not flexible enough. For example, if I want to set fontSize for the text, there is no way to do that.
Do you consider to accept style prop and let caller to decide t

[2015-12-19 01:14] GantMan opened #9 "Update Segment via code"
Trying to update what segment is selected via code (Not user action), and having trouble.

Updating the `selectedOption` property and re-rendering is not working, probably because the component is not mounting again?

Anyhow, I wanted to selectOption, but that function is not accessible with the segmented control wrapper.  Perhaps a ref?

[2015-12-21 11:26] ArnaudRinquin commented on #9
The only _right_ way to select an option is to use the `selectedOption` prop. Accessing and updating react elements is definitely wrong (ie. not the react way).

You are right, we do copy `selectedOption` from `props` to `state` at mount time so we should copy it again everytime you change props. This is the right fix to apply. I'll do it.

[2015-12-21 11:35] ArnaudRinquin commented on #7
Thanks to #8 from @johanneshilden, you can now use the `SegementedControl` `renderOption` prop to override the default which just uses `Text`.

[2015-12-21 11:35] #7 closed

[2015-12-21 11:39] ArnaudRinquin commented on #9
I just pushed the fix in 3487d15

See the implementation [details](https://github.com/ArnaudRinquin/react-native-radio-buttons/blob/master/lib/radio-buttons.js#L36)

[2015-12-21 11:39] #9 closed

[2015-12-21 14:45] GantMan commented on #9
Awesome man!   I didn't want to assume changing it at that level, but glad you did.  Glad you took the time to fix :+1:

[2015-12-23 18:24] GantMan opened #11 "allowFontScaling issue"
allowFontScaling really messes up the navigation for devices that have the font scaling turned up.  I'd like to disable it.   I can't pass that property to SegmentedControls without completely restyling it from scratch via `renderOption`.   Can you please pass along allowFontScaling to the default text item so I can stop it?

May create a PR on this if restyling gets too unruly.

[2015-12-26 03:41] GantMan commented on #11
See PR #12

[2015-12-29 12:53] sercanov opened #13 "Scrolling to top when option changed"
Imagine the buttons at the bottom of a ScrollView.
When option clicked, it re-render the scene (normally) and scrolls to top. Is there any workaround for this?

[2015-12-29 17:50] Kudo commented on #7
The solution works fine for me.  Thanks @ArnaudRinquin @johanneshilden

[2015-12-30 15:17] ArnaudRinquin commented on #13
I have no idea but that's a `react-native` issue to preserve scroll positions between render cycles, it's not specific to this component.

[2015-12-30 15:17] #13 closed

[2015-12-30 15:29] ArnaudRinquin commented on #11
dc49892d95352f62322d2090b261fd1f11830a04 Closes this issue.

[2015-12-30 15:29] #11 closed

[2016-01-01 00:02] morenoh149 opened #14 "Error objects are not valid as a react child"
Using
[code]
any ideas why? I'm testing on android.
![screenshot_20151231-185821](https://cloud.githubusercontent.com/assets/587438/12069196/775d0980-aff1-11e5-93cc-16905718f92f.png)

[2016-01-01 00:14] morenoh149 commented on #14
oh I see I was missing `extractText={ (option) => option.label }`

[2016-01-01 00:14] #14 closed

[2016-01-02 21:34] morenoh149 opened #15 "text not centered vertically on Android"
![screen shot 2016-01-02 at 4 34 06 pm](https://cloud.githubusercontent.com/assets/587438/12076194/baed2972-b16e-11e5-8541-1115dc71115c.png)
any thoughts on why this might be?

I've tested this on ios and the issue is only present on Android.

[2016-01-07 18:38] charpeni opened #16 "RadioButtons component does not have a display name"
The RadioButtons component must have a display name and it should be set by reference.

[2016-01-07 19:47] charpeni commented on #16
Nevermind, the `name` property was set by the transpiler instead of `displayName`.

[2016-01-07 19:47] #16 closed

[2016-01-09 22:37] hanneskaeufler commented on #15
Can confirm, text is not vertically centered on android.

[2016-01-11 00:51] csudanthi commented on #15
I ran into the same issue and resolved it.  See https://github.com/ArnaudRinquin/react-native-radio-buttons/pull/17

[2016-01-12 21:53] manask88 opened #18 "way to make the segmented control read only?"
I have a usr case where i would like to prevent the user from making changes to selected option in the segmented control. Is there a way to do it?

[2016-01-13 10:05] ArnaudRinquin commented on #15
Fixed by #17

[2016-01-13 10:05] #15 closed

[2016-01-13 10:09] ArnaudRinquin commented on #18
It's pretty easy, you just pass `function(){}` as `onSelection` prop.

[2016-01-13 22:01] manask88 commented on #18
i just tried that. it doesnt seem to work.   I gave different background colors to the selected and unselected options. I can still click over other options and the background color for the new selection changes. What you suggested helps to ignore the callback after a selection, but it doesnt really prevent the segmented control component to change its internal state

[2016-01-14 17:58] morenoh149 commented on #15
new npm release? @ArnaudRinquin

[2016-01-14 18:15] ArnaudRinquin commented on #15
Like I said in #17, version `0.8.1` has been published.

[2016-01-18 14:50] tomauty commented on #18
Can you make your `renderOption` function return a `<View>` instead?

[2016-02-09 18:27] adrienbrault opened #22 "Support multiple choices"

[2016-02-11 05:12] shaikhussian opened #23 "how to incraese the height of segmentedControll"
hai i tried to increase the the height of segmentedControl, i wrote in StyleSheet like height:75,
but it didn't increase, is there any possibility to increase the height

[2016-02-15 09:47] ArnaudRinquin commented on #22
It seems like a good idea but goes against the initial goal of this component: the `radio` input behaviour (a.k.a single option select).

Also, this would require the following changes:
- [ ] Add the `maxSelectedOptions`, has a number property, defaulting to `1`.
- [ ] Add a `selectedOptions`,  has an Array property, defaulting to `[]`.
- [ ] Deprecate `selectedOption` property
- [ ] Change `onSel

[2016-02-22 09:44] ArnaudRinquin commented on #23
I'm closing for now as I don't understand what you're trying to achieve. Feel free to give more details.

[2016-02-22 09:44] #23 closed

[2016-02-22 09:45] ArnaudRinquin commented on #22
I'm closing the issue for now, I you want to discuss more about it please do.

[2016-02-22 09:45] #22 closed

[2016-02-22 09:45] #18 closed

[2016-03-07 09:06] anderson916 opened #24 "container style doesn't work"
I set a style to a SegmentedControls component, but the style doesn't work.
[code]

Please add the following line to function renderContainer of segmented-controls.js
``
    return <View style={[containerStyle, this.props.style]}>{options}</View>;
``

[2016-03-07 10:52] ArnaudRinquin commented on #24
As you seem to know the exact required changes, could you please create a pull request?

[2016-03-07 11:56] ArnaudRinquin commented on #24
I added `containerStyle` prop handling as a new feature in `0.9.0`. See [the implementation](https://github.com/ArnaudRinquin/react-native-radio-buttons/blob/master/lib/segmented-controls.js#L51).

[2016-03-07 11:56] #24 closed

[2016-03-23 17:35] GantMan opened #25 "React Native 0.22 Hot Reloading"
For some reason the Radio buttons don't work with React Native 0.22.2 when hot reloading is turned on.

I use segmented controls wrapper, and I get this:
![simulator screen shot mar 23 2016 12 33 56 pm](https://cloud.githubusercontent.com/assets/997157/13994626/b8f26582-f0f3-11e5-813a-c5b9e029cc65.png)

Disabling hot reloading and this works fine.

[2016-03-23 18:38] ArnaudRinquin commented on #25
Ah that's a bummer. I have no idea what the issue is and no time to investigate at the moment. Feel free to contribute.

[2016-03-23 18:43] GantMan commented on #25
Quite possible this will work itself out as hot reloading sees progress.  I might dip my toe into the pool to see if I can figure it out.

[2016-05-29 09:41] nzmedet commented on #22
It's not one do all, it's form element, which has selection option, but awkward having it without multiple selection

README ambiguously says:

Which is not clear at first glance

[2016-06-20 10:25] varungupta85 opened #30 "Disable SegmentedControl based on a prop"
User should be able to disable the `SegmentedControl` component based on a prop. Similar functionality is present in `SegmentedControlIOS` in `react-native`. I added the support by using `pointerEvents` property for the container view in the `renderContainer` method but it may be a bit of a hack and wanted to discuss what other ways this can be achieved.

[2016-06-20 11:28] ArnaudRinquin commented on #30
@varungupta85 PR welcome!

[2016-06-27 15:28] KishPatel1996 opened #31 "Unexpected token (39:6) in segmented-control.js"
Running into this error while attempting to use a segmented control.

React: 15.0.2
React Native: 0.26.3

Any help is greatly appreciated!

[2016-07-04 00:23] KishPatel1996 commented on #31
Bump

[2016-07-12 07:38] #30 closed

[2016-07-21 19:13] fbonesso opened #34 "setState reseting radio buttons"
Hi,

Everytime when I call this.setState in anywhere in view my segmented buttons are reseted to original value, anyone knows what this could be?

Thanks!

[2016-07-21 19:48] joenoon commented on #34
@fbonesso can you paste a simple example?  Without seeing it, my guess would be when you call setState from above, a re-render it triggered, and your `selectedOption` is stale or hard-coded.  For example:

[code]

If something triggers that to re-render, it will always get set back to Option2.  So it should be keeping its option selection in state too:

[code]

[2016-07-25 09:18] akd6162 opened #35 "Segment Element in React Native"
My segment  element is not showing the container Radius not even default radius of border

[2016-07-26 11:34] ArnaudRinquin commented on #35
No way to help you with so few details.

[2016-07-26 11:34] #35 closed

[2016-07-26 12:08] akd6162 commented on #35
I want use Segment element as Radio button for gender(Male,Female) selection.
But the container Radius of Segment is  not rendering in proper way. One more thing...
When I click on the the Segment element entry. The color field which come after I click ....is not appear round corner. it come as a rectangle.

[2016-07-27 05:10] menoy opened #36 "SegmentedControls style not working"
Hi, I try using your SegmentedControls in RN v. 0.28.0 but it seems the style for selected item didn't work. Meanwhile the touchable without feedback function for selected item is working fine (I can see the item being selected by calling the variable I inputted, but the style doesn't change and in neutral state).

It was working fine in RN v.0.26 but when I update the RN to v.0.28.0 it appears th

[2016-07-27 15:47] Nicomalacho opened #37 "any way to add icons ?"
is there any way to add images or icons in the items ?

[2016-07-28 09:32] ArnaudRinquin commented on #37
You can use the `renderOption` function prop and render whatever you like. More details in the README and examples

[2016-07-28 09:32] #37 closed

[2016-08-13 14:46] GantMan commented on #36
I'm having the same issue
![image](https://cloud.githubusercontent.com/assets/997157/17643819/c7e015dc-613a-11e6-9aa5-4728be2c5763.png)

[2016-08-13 18:04] vshy108 opened #38 "Support flexWrap?"
May I know if it possible to have option wrap to next row if flexDirection is row in container style? thanks

[2016-08-13 20:11] GantMan commented on #36
fixed, will PR
![screen shot 2016-08-13 at 3 11 13 pm](https://cloud.githubusercontent.com/assets/997157/17645325/44b6c006-6168-11e6-81ed-bae398294ed9.png)

[2016-08-13 20:26] joenoon commented on #36
@GantMan could you try this instead (probably undocumented):

[code]

The default is currently spaced more like the Apple apps.. appstore, itunes style (bottom example).

![simulator-screen-shot-aug-13 -2016 -1 16 06-pm](https://cloud.githubusercontent.com/assets/5726/17645366/baa76cee-6158-11e6-9293-fd95146617d7.png)

[2016-08-13 20:49] GantMan commented on #36
@This accomplishes the same thing, but the code is the same.  Looking at where that property gets merged, is by the merge with `baseOptionContainerStyle`, which is where I was placing my change.

I have 3 segmented controls throughout my app.  I would rather add code that fixes it once, in one place, rather than to have to add that style to all 3, especially when without it, it looks broken.

[2016-08-13 21:41] joenoon commented on #36
I think it's just about what the right default should be then.  If flex:1 was the default, I'd have to add flex:null throughout my app's segmented controls - the opposite of you having to add flex:1 to yours.

If people want the default to be flex:1 I'm happy to change my app to accommodate.

But I think there is something else in your example that is making it look broken.  The default as of now

[2016-08-13 23:39] GantMan commented on #36
Usually SegmentedControls has behaved this way for me in the past.   Perhaps we should have a test project that states the way things "SHOULD" be, and then we style to match it.  I only know that upgrading react native versions broke all my `SegmentedControls` where they originally looked and behaved this way before.

[2016-08-15 13:54] GantMan commented on #36
So where do we go from here @ArnaudRinquin ?

[2016-08-17 12:46] basudz365 opened #40 "Support AccessibilityLabel for automated testing"
Hello,

We're using this library in a project of ours and we use the AccessibilityLabel property on view controls for our automated tests.  Does this library support this property or can it be added in?

[2016-08-17 18:51] basudz365 commented on #40
Here's what I've done in the meantime to work around this.  I created my own SegmentedControls object and in the renderOption function I set an id variable to this.props.accessibilityLabel + the index (if it's defined).  Then added that as the accessibilityLabel property to the TouchableWithoutFeedback control in the return.

Now when I use <SegmentedControl />  I can pass a property of accessibil

[2016-08-26 03:46] lorensr commented on #36
`optionContainerStyle={{ flex: 1 }}` and setting a width on container worked for me, but should be the default and be clear from docs. Made me think the lib was broken.

[2016-09-14 07:51] lxooxl opened #42 "set selectedIndex"
set selectedIndex, then click other item, the initial item not unselected.
_renderMovieGenre(options) {
        function setSelectedOption(option,index) {
            this.setState({
                selectedGenre:option,
            });
            this.movieGenre = option['key'];
        }
        function renderOption(option, selected, onSelect, index){
            const style = selected ? {colo

[2016-09-21 07:32] geecurve opened #43 "Issue with Array of objects"
Keep getting this error:

Objects are not valid as a React child (found: object with keys {label, value}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object) from the React add-ons. Check the render method of `Text`.

[2016-09-28 03:21] sbefort commented on #43
I had the same issue.  Make sure you have `extractText={ (option) => option.label }` as a prop.

[2016-09-29 01:30] geecurve commented on #43
Thanks will give it a try. I did remedy the situation by using simple array
as a work around but this property I hope will make difference to use the
component properly.

On Wed, Sep 28, 2016 at 1:21 PM, Shaun Befort notifications@github.com
wrote:

[2016-10-10 20:29] GantMan opened #45 "Segments should be enabled by default"
https://github.com/ArnaudRinquin/react-native-radio-buttons/pull/41/files
As of this change, segments are disabled by default, this is a breaking behavior.

Fix this

[2016-10-10 20:44] #45 closed

[2016-10-11 08:22] summersky92 commented on #43
Same issue for me at the first time, then go through the examples find the answer
https://github.com/ArnaudRinquin/react-native-radio-buttons/blob/master/examples/index.ios.js#L272

[2016-10-12 08:24] MossP opened #47 "Small error in documentation - Dead link to babel example"
As title suggests, the link to https://github.com/ArnaudRinquin/react-native-radio-buttons/blob/master/examples/.babelrc is dead.

[2016-10-12 13:42] GantMan commented on #47
Where is this link in documentation?  DO you want to submit a small PR?

[2016-10-12 15:27] MossP commented on #47
I considered that but I don't see where it's supposed to point to. I have a feeling it may be an outdated line?

it's in the install section of the [readme.md](https://github.com/ArnaudRinquin/react-native-radio-buttons/blob/master/README.md)

[2016-10-12 20:40] #47 closed

[2016-10-15 04:54] varungupta85 opened #48 "Weird styling issue in SegmentedControl on Android"
I am observing a weird styling issue while using SegmentedControl on Android. In the below screenshot, observe that there is a very small part that is white.

![screen shot 2016-10-15 at 8 42 21 am](https://cloud.githubusercontent.com/assets/7475133/19407475/b6f35ba0-92c0-11e6-8581-6339e16199a8.png)

When I inspect it in the `Inspector`, it looks like below. The small white part is not part of the

[2016-10-15 14:51] GantMan commented on #48
**DISCLAIMER:  I suck at design.**
Not sure we can do a fixed width there though.  Isn't the behavior of the segment to be a variable width to match the screen size?  Perhaps there's a nudge or negative padding we can add on the right side to get this to be flush.  I'm open to ideas.

[2016-10-17 05:27] varungupta85 commented on #48
I have never used negative padding or margins in css before but I guess you mean to just give a negative number instead of a positive number for the margin/padding value. I will give it a try and post the results.

[2016-10-17 14:45] GantMan commented on #48
negative numbers in padding/margins is something I do that makes REAL designers curse my name :)  But it gets stable results, for sure.

[2016-10-24 18:38] jasonblais opened #50 "Add an open source license?"
Thanks for sharing this project! We'd love to use it as part of the Mattermost open source project (https://www.mattermost.org/) in our [React Native mobile app](https://github.com/mattermost/mattermost-mobile) (which users an [Apache 2.0 license](https://github.com/mattermost/mattermost-mobile/blob/master/LICENSE.txt)).

Would you consider adding either an MIT or an Apache 2.0 license?

To do so,

[2016-10-24 18:48] GantMan commented on #50
@ArnaudRinquin - I suggest MIT, just let me know if you want me to do that :)

[2016-10-25 10:00] ArnaudRinquin commented on #50
Good point. I'll do it.

[2016-10-25 10:00] ArnaudRinquin commented on #50
Done.

[2016-10-25 10:00] #50 closed

[2016-11-11 09:41] nbastoWM opened #51 "Is it possible to show a readonly SegmentedControl?"
I'm using the segmented control in a form and I wanted to have a non editable version.
Is this possible?

[2016-11-11 10:25] nbastoWM commented on #51
Hi.
I don't know if it is the best solution, but I did it like this:

I pass a "readonly" prop, and a "value". Whenever I click an option I reset the state selectedOption to the initial value.

[code]

[code]

[2016-11-11 12:53] ArnaudRinquin commented on #51
I think you could simply pass a `noop` function (`function(){}`) as `onSelection` to achieve the same.

[code]

[2016-11-11 12:53] #51 closed

[2016-11-23 16:45] funkysoul opened #52 "custom segment render"
When using a custom renderer like on your example, I'm not able to click the segment itself, I need to click the top border itself of the segment to be able to select.
Any Idea what could be wrong?

[code]

[2016-12-05 14:16] handioq opened #53 "How to enable multiple options selection?"
Subject..

Is it possible to enable multiple options election?

Thanks.

[2016-12-05 14:35] ArnaudRinquin commented on #53
Not it's not and it won't.

[2016-12-05 14:35] #53 closed

[2016-12-15 22:28] Gentlee opened #55 "screen with 6 radio buttons lags very much"
On settings screen we have 6 radio buttons and it lags very much on opening. It is ideally smooth if change MKRadioButton to any other view (MKButton etc).

[2016-12-15 22:28] #55 closed

[2017-01-03 05:20] devrockzz opened #56 "How to set initial radio button ?"
Hi, I am using radio button and want to set initially selected radio button but i am unable to do so . Please help me out

[code]

[2017-01-03 08:52] ArnaudRinquin commented on #56
_Note: please next time try to fix your code's indentation. I did it myself this time_

You are doing everything right but you forgot to set an initial value for your component `state.selectedOption`.

The right place to do that is in the constructor where you receive the props and set the initial state:

[code]

[2017-01-03 08:53] #56 closed

[2017-01-03 08:57] ArnaudRinquin commented on #52
There is no obvious mistake in that piece of code. Have you found a solution to your issue?

[2017-01-03 08:58] #43 closed

[2017-01-03 08:59] ArnaudRinquin commented on #42
Sorry but your issue is barely readable. Please clean and reopen if needed.

[2017-01-03 08:59] #42 closed

[2017-01-03 09:00] ArnaudRinquin commented on #40
Hey @basudz365 sorry about the (very long) delay.

Please provide a PR if you still want to.

[2017-01-03 09:03] ArnaudRinquin commented on #36
@GantMan Sorry I neglected this issue (and the others). I'm OK with both solutions really. I'd suggest to use whatever is the closest to the native components.

[2017-01-03 09:03] #31 closed

[2017-01-03 09:04] ArnaudRinquin commented on #34
Thanks for helping @joenoon, I'll close this one as you never got an answer.

[2017-01-03 09:04] #34 closed

[2017-01-03 11:08] funkysoul commented on #52
nope not really.. I decided to write my own segmented button module.

[2017-01-03 11:10] ArnaudRinquin commented on #52
Good choice!

The simplicity of such a component isn't worth the struggle with external libraries ;)

[2017-01-03 11:10] #52 closed

[2017-01-03 15:35] GantMan commented on #36
Let's close this issue for now.  I see you've been busy these holidays!

[2017-01-03 15:35] #36 closed

[2017-01-05 10:01] davidsharp opened #57 "SegmentedControl direction='column' is showing as empty in iOS Simulator"
[code]
![screen shot 2017-01-05 at 09 50 36](https://cloud.githubusercontent.com/assets/5731838/21676326/2048c08e-d32d-11e6-9997-74533519f0ee.png)

While without the `direction='column'`, I'm getting:
![screen shot 2017-01-05 at 09 50 19](https://cloud.githubusercontent.com/assets/5731838/21676343/30ce1210-d32d-11e6-9f7e-8afc1b39b909.png)

`RadioButtons` seems to display properly, but I'd like to

[2017-01-06 15:57] hosusan6 opened #58 "setting selectedOption for options as an object"
Using segmented controls for options as value pairs i cant get the selected option to highlight the selected field.

My on selection if firing and it is returning the value in the text below but the selected field remains unstyled any advice?

I tried setting the selected field to both the value and the label and indeed the object itself.

Also i have bound all the functions in the contructor to "

[2017-01-07 06:39] devrockzz commented on #56
Thanks Bro , Ya i will take care of the indentation stuff

[2017-01-12 06:48] neel132-zz commented on #57
Same issue on Android Emulator.

[2017-01-16 16:35] sdrabb opened #61 "TouchableWithoutFeedback does not work well with Text children."
i've this warning: **Warning: TouchableWithoutFeedback does not work well with Text children. Wrap children in a View instead. See RadioButtons**

with that code

             `<RadioButtons
                options={ this.state.options }
                onSelection={(selectedOption, selectedIndex) => {console.log(selectedOption)}  }
                renderOption={ (option, selected, onSelect, index

[2017-01-24 08:56] Eyesonly88 opened #62 "I just wanted to say thank you ✋"
No issue. I just wanted to say thanks for making such an awesome little library 🙌 😀 👍.
It saved me a headache trying to create a gender field. All I wanted is something that looks presentable and works cross platform. Your library worked perfectly for me and looks amazing 🎉.

Thanks 🙏

[2017-01-24 08:57] ArnaudRinquin commented on #62
Hey! Thanks you so much @Eyesonly88! I'm glad it helped 🙏

[2017-01-27 09:33] aureldev opened #65 "segmentedControl"
Hi,
colors on segmented control arent working when I apply a redux state or component state action on it
 something
`handleRadio(text,index){
		switch(index){
			case 0:
				this.props.selected(index); //could use component state for that but they both don't work
				console.log(this.props.whoIsSelected);
			case 1:
				this.props.selected(index);
				console.log(this.props.whoIsSelected);
		}
	}`

[2017-01-27 11:27] ArnaudRinquin commented on #65
I can't read anything. Please make an effort to write a proper issue.

[2017-01-27 11:27] #65 closed

[2017-01-30 22:55] BrunoVillanova commented on #61
You need to put the Text inside a View

[2017-02-01 22:28] randycoulman opened #66 "Android fix for border radius hides last separator"
After upgrading to 0.14.0, we noticed that the last separator in our `SegmentedControls` was no longer showing on Android.  iOS continues to work fine.

0.13.0:
![screen shot 2017-02-01 at 1 48 36 pm](https://cloud.githubusercontent.com/assets/1406203/22528344/bb97cdae-e887-11e6-8ad3-f028039d1199.png)

0.14.0:
![screen shot 2017-02-01 at 1 46 48 pm](https://cloud.githubusercontent.com/assets/14062

[2017-02-13 14:07] SpaceK33z commented on #58
I had the same issue as you. In the source code I found this [undocumented prop](https://github.com/ArnaudRinquin/react-native-radio-buttons/blob/master/lib/radio-buttons.js#L91-L93), `testOptionEqual`. It seems to check for strict equality by default. This wouldn't work in my use case, so I changed it to something like this:

[code]

And now I can just pass values of the options in `selectedOptio

[2017-02-28 18:12] applechips opened #67 "radio buttons as images"
is it possible to have the radio buttons as an image? if so, how would i implement it? any examples?

[2017-02-28 18:14] ArnaudRinquin commented on #67
It is definitely possible as you can specify how to render items through the `renderOption` property.  You should simply read and follow the doc. I have no time for an example.

[2017-02-28 18:16] applechips commented on #67
thank you!

[2017-02-28 18:17] #67 closed

[2017-03-06 03:12] yangwuan55 opened #68 "Hope to provide a typings for typescript."

[2017-03-06 08:04] ArnaudRinquin commented on #68
I don't use typescript myself and have no time for this but I would allow a PR.

[2017-03-08 10:01] Jakevin commented on #61
I replace use TouchableOpacity.

It's work well

[2017-03-08 10:06] #61 closed

[2017-03-17 04:02] wuxudong commented on #66
https://github.com/facebook/react-native/pull/11706 is already closed.

and I update react-native to 0.42.0, but the problem still exists ?

[2017-03-27 18:16] jawinn commented on #58
Thanks @SpaceK33z, that did the trick.
The docs should be updated to include that necessary prop when using:

[code]

Without the testOptionEqual above, the selectedOption is false when the radio is first selected, and only becomes true when it's pressed a second time.

[2017-03-27 18:37] ArnaudRinquin commented on #58
PR welcome ;)

[2017-04-02 19:18] anaskhan96 commented on #57
Encountering the same problem on my Android.
@ArnaudRinquin could you shed some light on this?

[2017-04-03 08:08] ArnaudRinquin commented on #57
I have absolutely no time for that. PR welcome.

[2017-04-08 16:33] corbt commented on #48
FYI I'm running into this same issue on iOS, so I don't think it's platform-dependent. I worked around it by adding `marginRight: -1` to my `optionContainerStyle`, but it's weird that that's necessary.

[2017-04-22 05:15] kdenz commented on #58
Thanks @SpaceK33z , this is frustrating lol, as separation of label and value is highly valuable, and yet testOptionEqual just isn't included in the examples doc.

[2017-04-24 07:01] #58 closed

[2017-05-22 09:36] SKoscarrovira opened #73 "Not able to cancel changes"
Hello!
First I wanted to thank you for this nice component for react native.
I am trying now to cancel an update on the change of the selected item. Correct me if I am wrong but after reading the code I think it is impossible (as of now).
I have seen in your examples that you use the onSelected prop to keep track of your selected option, but the state is saved internally in the component instead o

[2017-05-25 09:25] America-first-melon commented on #66
@wuxudong  fixed?

[2017-05-26 10:54] Rawphs commented on #66
Setting `containerBorderRadius` to zero is a workaround if you don't mind having square buttons.

[2017-06-08 03:18] Un3qual opened #78 "Segments change size on first press"
![jun-07-2017 20-03-02](https://user-images.githubusercontent.com/6117075/26910558-8301f6fc-4bbc-11e7-9786-a0d97dd784ee.gif)
The above happens, but as soon as the segments resize, the resizing stops. This issue also happens with [ArnaudRinquin/react-native-radio-buttons](https://github.com/ArnaudRinquin/react-native-radio-buttons). I also made an [issue](https://github.com/kirankalyan5/react-nativ

[2017-07-05 08:50] Tom29 opened #79 "Create flick/glitch while set navigation params"
1. Prepare StackNavigator
2. Render Radio Buttons in the second screen
3. Inside second screen, use `this.props.navigation.setParams` to set any value.
4. Press back button, you might see the flick/blink/glitch on the navigator -> very ugly effect. I think navigator might be refreshed after `setParams`

Remove radio buttons and it works fine with set navigation params.

[2017-07-05 08:55] #79 closed

[2017-07-07 13:27] #66 closed

[2017-07-10 02:17] hnty545 opened #80 "The Dividing line has disappeared"
![-3](https://user-images.githubusercontent.com/6417805/28000559-f90beca8-6558-11e7-8372-3b11fddf2fca.jpg)

————————————
this._statusOptions = [
	{ key: '', value: '全部' },
	{ key: '0', value: '未开通' },
	{ key: '1', value: '已开通' },
	{ key: '2', value: '已停用' }
]

<SegmentedControls
                            tint={COLOR.theme}
                            options={this._statusOptions}

[2017-07-11 19:36] jbrodriguez opened #81 "Warning on 0.46.+"
Warning: PropTypes has been moved to a separate package. Accessing React.PropTypes is no longer supported and will be removed completely in React 16. Use the prop-types package on npm instead. (https://fb.me/migrating-from-react-proptypes)

[2017-07-14 05:19] iyadthayyil commented on #80
The Fix is here : https://github.com/ArnaudRinquin/react-native-radio-buttons/pull/75

[2017-07-14 05:47] hnty545 commented on #80
thanks!
suggest updating to npm.

[2017-07-14 05:48] hnty545 commented on #80
@ArnaudRinquin

[2017-07-16 08:01] pbwei opened #82 "i need activeOpacity option"

[2017-07-17 12:07] #82 closed

[2017-07-19 07:42] #57 closed

[2017-07-19 09:14] #81 closed

[2017-07-19 09:26] #80 closed

[2017-07-19 09:26] ArnaudRinquin commented on #80
Should good now ;)

[2017-07-20 20:31] almirfilho opened #85 "Release notes for version 1.0.0"
Hi @ArnaudRinquin, could you please publish the release notes for the version 1.0.0?
I want to upgrade to the new version, but upgrading without knowing what changed is, besides hard, not a good practice.

Thanks for the awesome package =)

[2017-07-21 09:26] ArnaudRinquin commented on #85
Oh sure, I'll do it ASAP.

In the meantime: I updated to a major following #84 as `prop-types` is now a peerDependency (instead of using `React.PropTypes`). Other that that it's just bug fixes from latests PRs.

[2017-07-21 20:03] almirfilho commented on #85
Thank you very much.

[2017-07-22 19:28] henrynw opened #86 "Button background not updating..."
Hi guys,

I'm really sorry if this is something obvious to you. I'm a bit new to React Native but struggling with this...

Here's my code:

`setSelectedBookingTypeOption(e) {
    this.props.setBookingType({ bookingType: e.value });
  }

  render() {
    return (
      <ScrollView>
        <FormLabel>Please select:</FormLabel>
        <View style={{ paddingLeft: 10, paddingRight: 10, paddingTop: 8

[2017-07-23 15:37] mmarovich opened #87 "TouchableWithoutFeedback children"
This isn't really an issue with the code itself, just the first example that was used.  My apologies if this has already been covered.  In the example:
[code]
will throw the warning: TouchableWithoutFeedback does not work well with Text Children.  Changing it to:
[code]
fixes it.

[2017-07-25 01:55] g33ktony commented on #86
You have to set a state on the onSelection prop the pass it to selected option

[2017-07-27 13:42] DavideValdo opened #89 "React.createElement: type is invalid"
![screen shot 2017-07-27 at 15 38 08](https://user-images.githubusercontent.com/26572302/28673062-c957f81c-72e1-11e7-945e-bfd800e9da07.png)

Line 150:
[code]

[2017-07-28 07:48] ArnaudRinquin commented on #89
Care to give more context ? Versions, the way you import the lib.

[2017-07-28 13:22] DavideValdo commented on #89
This is my environment, sorry:

1. Platform: iPhone 6 Simulator, iOS 10.3
2. macOS Sierra 10.12.5
3. XCode 8.3.2
4. react-native-cli: 2.0.1
5. react-native: 0.45.1

As for how I'm importing the library, I was trying to use the `VerticalSegment`component.
Then I realized that such component does not exist - am i right? - , but the docs somehow suggest otherwise. _Is that UI already built-in the Rad

[2017-08-02 13:34] Stophface opened #90 "Select more than one"
Is it possible to select more than one list entry?

[2017-08-02 14:42] ArnaudRinquin commented on #90
No.

[2017-08-02 14:42] #90 closed

[2017-08-28 10:41] itswaze opened #93 "Programmatically select "selectedOption""
hey!
How can I select a default option, but show it to the user?
When I select one of them programmatically, has a default one, this is what I get:

http://imgur.com/a/QjGaA

But I should be getting this:

http://imgur.com/a/QiDDf

I know that this was already asked, but if I set `testOptionEqual` It won't allow me to change the option. For example if I use: `selectedOption={ this.state.recurrence

[2017-08-28 11:40] andreecosta commented on #58
@hosusan6 @SpaceK33z are you able to change the option after using `testOptionEqual={(selectedValue, option) => selectedValue === option.value}`?

After using that, the UI won't update when changing option.

[2017-08-29 15:11] #93 closed

[2017-09-07 02:09] AdamBroos opened #94 "SegmentedControls initial option setting doesn't work"
I want to set initial selected option to SegmentedControls.

options = [
    {
      label: 'user1',
      value: 'user1'
    },
    {
      label: 'user2',
      value: 'user2'
    }
  ]

constructor(props) {
    super(props);
    this.state = {
      selectedOption: {label: "user1", value: "user1"},
    }
  }

<SegmentedControls
    options={ options }
    onSelection={ setSelectedOption.bind(th

[2017-09-18 03:18] AlexandreLage commented on #86
I also got this issue.
I was not able to change a segment's background color when it was selected.

First @henrynw, you will also need this prop `testOptionEqual={...}` if you are using an array of objects `[{label: ..., value: ...}] `as options.

The tutorial (Readme.md) about segmented control **is not working for me**.

Instead, I used the following prop I found

[code]
Add it to` <SegmentedCon

[2017-10-24 16:10] jhon312020 opened #95 "How to use options with keys of arrays."
As per your example
 const options = [
 'Option 1',
'Option 2'
];

const options = [
 	    {id:1, answer: 'Option 1'},
	    {id: 2, answer: 'Option 2'}
	  ];
In this case I get selected value as false in renderOption.  How to get selected value for the above set of options.

[2017-11-13 18:07] PManager1 commented on #22
@adrienbrault
![image](https://user-images.githubusercontent.com/1026325/32741240-839fc498-c873-11e7-9b13-50870aba8069.png)

How about you can create multiple seperate components, so it will work like multiple options.

[2017-11-13 18:41] PManager1 commented on #94
I faced the exact same issue.

[2017-11-14 06:25] Hgq1001 opened #96 "how to make it show the default values ?"

[2017-11-14 18:59] irmela commented on #95
I have the same problem as I need to pass key value pairs to options.

[2017-11-14 19:05] jhon312020 commented on #95
You can use this function
function checkEqual(selectedOption, currentOption) {
	  	if (selectedOption.id == currentOption.id)
	  		return true;
	  }
In the render portion you can call the function with the parameter **testOptionEqual**
<RadioButtons
	        options={ options }
	        onSelection={ setSelectedOption.bind(this) }
	        selectedOption={this.state.selectedOption }
	        rende

[2017-11-23 12:25] Frexuz opened #97 "Styling issues (needs more control?)"
I'd wish the border around the selected item was the same as the background. The segment tag only seems to work well if the background color is the same as the tint :/
![screen shot 2017-11-23 at 20 08 48](https://user-images.githubusercontent.com/49692/33172568-a47eb4ce-d08b-11e7-8a24-642bf9cc6140.png)
Like so (quick photoshop work):
![screen shot 2017-11-23 at 20 24 40](https://user-images.githu

[2017-11-23 13:02] #85 closed

[2017-11-23 13:03] #96 closed

[2018-01-04 04:49] geronimo794 commented on #94
I face the same issue but i fix it some code

i set my state with segment selected value :
`function setSelectedOption(selectedOption){
            this.setState({
              selectedOption:selectedOption.value
            });
          }`

then i add this
`testOptionEqual={(selectedValue, option) => this.state.selectedOption == option.value }`
to my component

 `<SegmentedControls
  options={

[2018-01-24 08:02] Kirandeep7012 opened #98 "List of Radio buttons"
can anyone please help me regarding how to use list of checkboxes.?

[2018-01-30 04:39] Donhv commented on #22
@ArnaudRinquin How to multi select?

[2018-01-30 04:45] ArnaudRinquin commented on #22
This package does not handle multi-selects.

[2018-02-03 09:49] Kirandeep7012 commented on #56
hey. How can i set default values for multiple radiobuttons.

[2018-02-10 14:42] VovaSokol opened #99 "SegmentedControls style issue (container border radius)"
Hi! Sorry for my english.
"react-native": "^0.49.5",
"react-native-radio-buttons": "^1.0.0",
![untitled-1](https://user-images.githubusercontent.com/21169523/36062966-6d051ba2-0e87-11e8-99ec-5c22eb1714c6.jpg)

I fixed it just add 'else' in node_modules/react-native-radio-buttons/lib/segmenteg-controls.js:121
last 'if' rewrited first 'if'
[code]
resault
![untitled-2](https://user-images.githubuserc

[2018-02-10 20:09] joenoon commented on #99
I have not used this in a while, but my last working code was this and didn't have this problem:

[code]

Maybe post your code or check to see if you have a backgroundColor set anywhere that might cause this.  Or if you use `<Text>` or `<View`> elements, make sure they are `{backgroundColor: 'transparent'}`.

[2018-02-17 00:49] pedrodevoto commented on #99
Having the same issue, but the problem is that if I add that `if`, I get no middle separator.

Before:

After:

RN 0.48.4

[2018-02-17 00:51] pedrodevoto commented on #99
Had `backTint` set to a specific color. Setting it to `'transparent'` solved the issue 😃

[2018-02-17 07:31] VovaSokol commented on #99
Thanks! It solved!

[2018-02-28 09:49] #99 closed

[2018-03-22 10:31] olejka91 opened #100 "Is there a way to round segmented item from both sides ?"
Hi actually it is not more of an issue but like a question.

I have a controls and I need a selected one to be rounded from both sides? How can I achieve it without implementation of my own component ? Thanks in advance

![round](https://user-images.githubusercontent.com/18009429/37765418-be9a03ce-2dcc-11e8-9dad-6a35934174b8.png)

[2018-03-28 05:37] giantss opened #101 "Horizontal line wrap"
Thanks very much to the open source plug-in provided by the author, but I have a problem in the use process and I don't know how to solve it.
## ideal:
![image](https://user-images.githubusercontent.com/13778798/37706758-9c124ba4-2d3b-11e8-92c9-2e7168c809c9.png)
 What should I do? help me.

[2018-03-28 06:22] ArnaudRinquin commented on #101
You can probably use something like `flexWrap: wrap` on the container element. Closing this issue as it's not related to the library but only to the general understanding of React Native.

[2018-03-28 06:22] #101 closed

[2018-03-28 13:04] #100 closed

[2018-03-28 13:36] olejka91 opened #102 "How to left styling only for active item in segmented controls ?"
I have rounded all items but I need only active item to be rounded, other items should not have styles

![2](https://user-images.githubusercontent.com/18009429/38032354-15c1ba60-32a6-11e8-8396-cf7b3793189b.png)

Like so
![screen shot 2018-03-28 at 4 36 11 pm](https://user-images.githubusercontent.com/18009429/38032391-2ea71f48-32a6-11e8-82fa-52c1493be212.png)

[2018-03-28 14:56] olejka91 commented on #102
sorry just need to read README more attentively

[2018-03-28 14:56] #102 closed

[2018-04-04 02:18] giantss commented on #95
@ArnaudRinquin I am curious why can't I accept array objects like this
[code]

[2018-04-04 02:45] giantss opened #103 "selectedIndex property bug"
I also encountered this problem.When the `selectedIndex` property is set, the default `selectedIndex` option is not cancelled when I click on other options.
![image](https://user-images.githubusercontent.com/13778798/38285945-4984ae30-37f5-11e8-9336-dfdbfabfef14.png)

code
[code]
@ArnaudRinquin

[2018-04-11 15:03] JeremyBradshaw7 opened #104 "No support for disabled property"
It would be nice if SegmentedControls supported a disabled property, which would show the selected option but not allow it to be changed. I can style the control conditionally to appear as if disabled but it still allows the selection to be changed visibly, even if I take care not to change the selectedOption value in the onSelection handler. Any suggestions how I can cancel an invalid selection p

[2018-04-11 15:11] JeremyBradshaw7 commented on #73
I posted a similar issue. Did you find a workaround to cancel an unwanted change programatically?

[2018-04-11 15:16] JeremyBradshaw7 commented on #104
Only by looking through the closed PRs did I discover there's actually an **enabled** property, this is not in the main docs yet.

[2018-04-11 15:16] #104 closed

[2018-04-12 01:03] giantss commented on #103
@ArnaudRinquin Is this plugin no longer maintained?

[2018-04-19 05:34] giantss commented on #42
@ArnaudRinquin #103 This problem does exist. Solve trouble, thanks.
@lxooxl Do you have a solution to this problem?

[2018-06-14 02:43] motogod commented on #95
@giantss  If you want to pass an array of objects, you have to add this code `extractText={ (option) => option.label }` in your `<SegmentedControls />`

[2018-07-19 03:19] zmfang commented on #103
`selectedIndex = {this.state.selectedIndex}`
I use `this.state` to control the selectedIndex in `componentDidMount() ` ，but it does not work .
when I use `selectedIndex = {1}` ,it can show the selected option.

[2018-07-28 07:41] rajnishcoder commented on #61
@Jakevin `TouchableOpacity` will work but it may damage UI, best solution is as @BrunoVillanova  said.

[2018-08-10 10:13] AhamedEstiak commented on #103
I also found same issue. But i solve this by added selectedIndex: 0 to the initialState and set  selectedIndex: null; on setSelectedOption function. Code:
this.state = {
            selectedOption: "",
            selectedIndex: 0
        }

function setSelectedOption(selectedOption){
            this.setState({
                selectedOption,
                selectedIndex: null
            });

[2018-08-13 02:11] giantss commented on #103
Thanks, I use this component to achieve the effect I want to achieve. [react-native-flexi-radio-button](https://github.com/thegamenicorus/react-native-flexi-radio-button)

[2018-10-09 10:02] I-O-O-I commented on #61
THIS WORKS https://github.com/facebook/react-native/issues/10180#issuecomment-298375648

[2019-05-07 12:19] Xerus2000 opened #105 "Why deprecate?"
The native component you mentioned is iOS only and has a lot less configuration possibilities. It is not even close to a replacement. Why did you deprecate this package in favor of it?

[2019-05-28 07:37] hopefullman opened #106 "How can i set button shapes？？？"

[2019-05-29 14:32] keeprock commented on #105
Because maintainer don't want to compete with an official team with 6-figures salaries.

[2019-09-10 08:03] #106 closed

[2019-09-10 08:07] ArnaudRinquin commented on #105
Hi there,

It's not a mater of competition.

* I just don't have the time to maintain this
* I poorly designed it's API
* there is a much better alternative: https://github.com/react-native-community/react-native-segmented-control

[2019-09-10 08:07] #105 closed

[2020-08-16 02:58] fangx4 opened #107 "WARN Require cycle"
[Sun Aug 16 2020 10:56:36.245]  WARN     Require cycle: node_modules/react-native-radio-buttons/lib/index.js -> node_modules/react-native-radio-buttons/lib/segmented-controls.js -> node_modules/react-native-radio-buttons/lib/index.js

Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.